
/* ***Responsive media query*** */

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) and (max-width:1500px){ 
    
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) { 
   /* Header Top area */
   .call-number {
    margin-right: 0;
  }
  .call-number h3 {
    font-size: 24px;
  }
  /* Latest Product */
  .single-latest-product {
    margin-bottom: 30px;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) { 
   /* Header Top */
   .header-top-menu ul li:last-child {
    margin-right: 0px;
  }
  /* Slider Area */
  .slider-title h2 {
    font-size: 105px;
    line-height: 105px;
  }
  .slider-title h3 {
    font-size: 75px;
    line-height: 50px;
  }
  /* Banner Area */
  .single-banner-item.big-title {
    height: 400px;
    margin-bottom: 30px;
  }
  /* Latest Product */
  .single-latest-product {
    margin-bottom: 30px;
  }
  /* Pizza Banner Area Area */
  .pizza-banner-wrapper {
    min-height: 410px;
    background-position: center 100%;
  }
  .pizza-baner-content {
    padding-top: 110px;
  }
  /* Service Area */
  .single-service-content {
    margin-bottom: 30px;
  }
  .single-service-content.last {
    margin-bottom: 0;
  }
   /* Footer Area */
   .footer-text ul li {
    display: block;
    border-right: none;
    padding: 0;
  }
}

/* Extra small devices (portrait phones, less than 768px) */
@media (max-width: 767.98px) { 
  /* MObile Menu */
  .mean-container .mean-bar {
    right: 0px;
  }
   /* Slider Area */
   .slider-content {
     padding-top: 85px;
     transform: none;
     -webkit-transform: none;
     -moz-transform: none;
     -ms-transform: none;
     -o-transform: none;
    }
    .slider-small-title span {
      width: 55px;
      height: 55px;
      font-size: 20px;
      line-height: 59px;
    }
    .slider-small-title h3 {
      font-size: 24px;
      line-height: 55px;
    }
    .slider-small-title::before, .slider-small-title::after {
      display: none;
    }
    .slider-title h2 {
      font-size: 65px;
      line-height: 70px;
    }
    .slider-title h3 {
      font-size: 60px;
      line-height: 36px;
      margin-bottom: 0;
    }
    .slider-title p {
      font-size: 16px;
      line-height: 30px;
    }
    section.slider-area-wrapper {
      min-height: 450px;
    }
    .single-banner-item.big-title {
      height: 400px;
      padding-top: 20px;
      padding-left: 20px;
      margin-bottom: 30px;
    }
    .banner-title h2 {
      font-size: 50px;
      line-height: 45px;
    }
    .single-banner-item .banner-footer {
      left: 20px;
    }
    .cta-content-area > h1 {
      color: #fff;
      font-weight: 700;
      font-size: 52px;
      font-family: 'Yanone Kaffeesatz', sans-serif;
      text-transform: uppercase;
      letter-spacing: 1px;
      margin-bottom: 0;
      line-height: 72px;
    }
    /* CTA Area */
    .cta-content-area > h1 {
      font-size: 52px;
      line-height: 55px;
    }
    .cta-content-area h4::before, .cta-content-area h4::after {
      width: 60px;
    }
    .cta-content-area h4::before {
      left: -70px;
    }
    .cta-content-area h4::after {
      right: -70px;
    }
    /* LAtest Product */
    .single-latest-product {
      margin-bottom: 30px;
    }
    /* Pizza Banner Area */
    .pizza-banner-wrapper {
      min-height: 450px;
      background-color: #E8E3DA;
      background-image: none !important;
    }
    .pizza-baner-content {
      padding-top: 120px;
    }
    /* Service Area */
    .single-service-content {
      margin-bottom: 35px;
    }
    .single-service-content.end {
      margin-bottom: 0;
    }
    /* Insta IMG */
    .single-gallary-img a {
      font-size: 30px;
      margin-top: -18px;
      margin-left: -15px;
      width: 20px;
      height: 20px;
    }
    /* Footer Area */
    .footer-social-link a {
      width: 36px;
      height: 36px;
      line-height: 34px;
      margin: 0 5px;
      font-size: 14px;
    }
    /* Footer Area */
   .footer-text ul li {
    display: block;
    border-right: none;
    padding: 0;
  }
  .footer-copy-right p {
    font-size: 11px;
  }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) { 
   
}